<div class="footer">
  <p class="more"><%= link_to "More info", flat_path(flat) %></p>
  <p class="edit"><%= link_to "Edit", edit_flat_path(flat) %></p>
  <p class="remove"><%= link_to "Remove", flat_path(flat), method: :delete %></p>
</div>
